.form-control{
        width: 400px;
        

}
/* .centerScreen{
   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
      
}

.centerInputs
{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
} */

