.form-control {
  width: 400px;
}

.column {
  float: left;
  width: 15%;
  padding: 1px;
}
.column2 {
  float: left;
  width: 15%;
  padding: 1px;
  margin-left: 200px;
}

/* .centerScreen{
   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
      
}

.centerInputs
{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
} */
