<mat-spinner
  style="margin: 0 auto;"
  mode="indeterminate"
  color="accent"
  *ngIf="isLoading"
>
</mat-spinner>
<p style="text-align:center" *ngIf="isLoading">aguarde ...</p>
<p>

<hr />
<div class="inner">
  <div id="main">
    <div id="side_bar">
    <h5 class="formatH5" style="text-align:left">Tarefas a aguardar a sua intervenção</h5> 
  </div>
  </div>
  <br />
  <div class="table-responsive">
    <table class="table table-bordered" style="width: 100%;" [hidden]="isLoading">
      <thead>
        <tr>
         <th scope="col"width="80">ID</th>
          <th scope="col" width="350">Equipamento</th>
          <th scope="col" width="400">Descrição</th>
          <th scope="col" width="150">Data pedido</th>
          <th scope="col" width="150">Data limite</th>
          <!--<th scope="col" width="80">Estado</th>-->
        </tr>
      </thead>
    </table>
  </div>

  <mat-accordion multi="false">
    <mat-expansion-panel *ngFor="let item of pedidosEsperaUser; let i = index">
      <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
        <table class="table">
          <tbody>
            <tr>
   
              <td class="tb-td-txt" width="80">{{ item.IDPedido}}</td>
              <td class="tb-td-txt" width="360">
                {{ changeIDtoInternalCode(i) }}
              </td>
              <td class="tb-td-txt" width="440">{{ item.Descricao }}</td>
              <td class="tb-td-txt" width="165">
                {{ item.DataPedido | date: "dd/MM/yyyy HH:mm" }}
              </td>
              <td class="tb-td-txt" width="150">
                {{ item.DataLimiteManutencaoPrev | date: "dd/MM/yyyy" }}
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel-header>
      <div class="table-responsive">
        <body style="text-align: center;">
          <table class="table" style="width: 100%;">
            <thead>
              <tr>
                <br>
                
                <button
                type="button"
                (click)="openDialog(item.IDPedido)"
                class="btn btn-success btn-sm move-right"
                style="
                  position: center;
                  right: 0;
                  height: 40px;
                  width: 150px;
                "
              >
                Fechar pedido
              </button>
              <br>
              <br>
              </tr>
            </thead>
            <tbody>
              <tr></tr>


            </tbody>
          </table>
        </body>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>