<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h3 class="my-0 mr-md-auto font-weight-normal">Gestão da Manutenção</h3>
  <nav class="my-2 my-md-0 mr-md-3"> 
    <a class="btn btn-outline-primary nav-menu-item" routerLinkActive="active" routerLink="/equip-list">Equipamentos</a>
    <a class="btn btn-outline-primary nav-menu-item" routerLinkActive="active" routerLink="/grupomaquina-list">Grupos de maquinas</a>

    <a class="btn btn-outline-primary nav-menu-item" routerLinkActive="active" routerLink="/asp-net-user-list">Utilizadores</a>
    <a class="btn btn-outline-primary nav-menu-item" routerLinkActive="active" routerLink="/pedido-mcurativa-list-teste">Pedidos curativos</a>
    <a class="btn btn-outline-primary nav-menu-item" routerLinkActive="active" routerLink="/add-register">Registo</a>
    <a class="btn btn-outline-primary nav-menu-item" routerLinkActive="active" routerLink="/my-login">Login</a>  
  </nav>
</div>
<router-outlet></router-outlet>