<div class="container wrapper wrapper2">
    <div class="row">

        <!-- Form -->
        <div class="col-md-12">
            <br>
            <h3>Alterar informação de equipamento</h3>
            <form [formGroup]="updateEquipForm" (ngSubmit)="submitForm()" novalidate>
                <div class="form-group">    
                    <input type="hidden" formControlName="IDEquipamento" class="form-control">
                </div>
                <label>Grupo de máquina</label>
                <br>
                <select class="form-group" formControlName="IDGrupoM">
                   
                    <option *ngFor="let item of gruposMaquinaList" [value]="item.IDGrupoMaquinas">{{item.Descr}}</option>                  
                </select>
                <div class="form-group">
                    <label>NumeroSerie</label>
                    <input type="text" formControlName="NumeroSerie" class="form-control">
                </div>
                <div class="form-group">
                    <label>Descrição</label>
                    <input type="text" formControlName="Descr" class="form-control">
                </div>
                <div class="form-group">
                    <label>Marca</label>
                    <input type="text" formControlName="Marca" class="form-control">
                </div>
                <div class="form-group">
                    <label>Tipo</label>
                    <input type="text" formControlName="Tipo" class="form-control">
                </div>
                <div class="form-group">
                    <label>Data compra</label>
                    <input type="date" formControlName="DataCompra" class="form-control">
                </div><div class="form-group">
                    <label>Codigo interno</label>
                    <input type="text" formControlName="CodigoInterno" class="form-control">
                </div>
                <div class="form-group">
                    <label>Estado equipamento</label>
                    <input type="text" formControlName="EstadoEqui" class="form-control">
                </div>
                <div class="form-group">
                    <label>Data fim atividade</label>
                    <input type="date" formControlName="DataFimAtividade" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>

    </div>
</div>