<div class="container wrapper">
    <div class="row">

        <!-- Equipamentos table -->
        <div class="col-md-12">
            <div class="inner">
                <div id="main">
                    <h3>Equipamentos</h3> <button type="button" class="btn btn-success btn-sm move-right" style="position: absolute; right: 0;"
                    [routerLink]="['/add-equip']">Novo equipamento</button>
                  </div> 
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Grupo de máquina</th>
                            <th scope="col">Número de Série</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Data de compra</th>
                            <th scope="col">Codigo interno</th>
                            <th scope="col">Estado do equipamento</th>
                            <th scope="col">Data fim atividade</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <tr *ngFor="let equipamentos of EquipList">
                            <th scope="row">{{equipamentos.IDEquipamento}}</th>
                            <ng-container *ngFor="let gm of gruposMaquinaList">
                                <td *ngIf="gm.IDGrupoMaquinas==equipamentos.IDGrupoM">{{gm.Descr}}</td>
                            </ng-container>
                            <td>{{equipamentos.NumeroSerie}}</td>
                            <td>{{equipamentos.Descr}}</td>
                            <td>{{equipamentos.Marca}}</td>
                            <td>{{equipamentos.Tipo}}</td>
                            <td>{{equipamentos.DataCompra}}</td>
                            <td>{{equipamentos.CodigoInterno}}</td>
                            <td *ngIf="equipamentos.EstadoEqui==1" >Ativo</td>
                            <td *ngIf="equipamentos.EstadoEqui==0" >Desativo</td>
                            <td>{{equipamentos.DataFimAtividade | date:'dd-MM-yyyy'}}</td>
                            <td>
                               <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edit-equip/', equipamentos.IDEquipamento]">Editar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>