<mat-spinner style="margin: 0 auto;" mode="indeterminate" color="accent" *ngIf="isLoading">
</mat-spinner>
<p style="text-align: center;" *ngIf="isLoading">aguarde ...</p>
<p></p>

<hr />
<div class="inner">
  <div id="main">
    <div id="side_bar">
      <h5 class="formatH5" style="text-align: right;">Pedidos curativos</h5>
      <button type="button" class="btn btn-outline-primary" style="float: right;"
        [routerLink]="['/pedido-mcurativa-add']">
        Novo pedido
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        style="float: right"
        (click)="printPedidos()"
      >
        Imprimir
      </button>
      <br />


      <div class="rowSelectTags">
        <div class="column">
          <label class="AlignFilter" for="AlignFilter">Grupo de máquina:</label><br />
          <select class="AlignFilter" id="AlignFilter" (click)="listJustgroupmachine()" [(ngModel)]="selectedOptionGrupo" style="width: 180px;">

            <option value="0">Selecione </option>   

            <option *ngFor="let item of gruposMaquinaList" [value]="item.IDGrupoMaquinas">{{ item.CodigoInterno }} -
              {{ item.Descr }}</option>
          </select>
        </div>
        <div class="column">
        <label class="AlignFilter" for="AlignFilter">Equipamento:</label><br />
        <select class="AlignFilter" id="AlignFilter" [(ngModel)]="selectedOptionEquipamento" style="width: 180px;">
          <option value="0">Selecione </option>   
          <option *ngFor="let item of equipamentosFiltrados" [value]="item.IDEquipamento">{{item.CodigoInterno}} - {{ item.Marca}}: {{ item.Descr}} «{{item.Tipo}}»</option>                  
      </select>
    </div>

        <div class="column">
          <label class="AlignFilter" for="AlignFilter">de:</label><br />
          <input type="Date" [(ngModel)]="selectedOptionDateInicio" select class="AlignFilter" id="AlignFilter"
            style="width: 180px;" />
        </div>
        <div class="column">
          <label class="AlignFilter" for="AlignFilter">até:</label><br />
          <input type="Date" [(ngModel)]="selectedOptionDateFim" select class="AlignFilter" id="AlignFilter"
            style="width: 180px;" />
        </div>
        <div class="column2">
          <br />
          <button class="AlignFilter" (click)="procuraAvancada()" mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div class="column2">
          <br />
          <button (click)="limparFiltros()" mat-icon-button>
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />

  <ng-container *ngIf="totalPedidos == 0">
    <br /><br /><br />
    <p style="text-align: center;"><strong>SEM RESULTADOS</strong></p>
    <br /><br /><br />
  </ng-container>

  <div *ngIf="totalPedidos > 0">
    <div class="table-responsive">
      <table class="table table-bordered" style="width: 100%;" [hidden]="isLoading">
        <thead>
          <tr>
            <!--<th scope="col" width="20">#</th>-->
            <th scope="col" width="80">Utilizador</th>
            <th scope="col" width="220">Equipamento</th>
            <th scope="col" width="320">Descrição</th>
            <th scope="col" width="150">Data de avaria</th>
            <th scope="col" width="80">Estado</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <mat-accordion multi="false">
    <mat-expansion-panel *ngFor="let item of pedidos; let i = index">
      <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
        <table class="table">
          <tbody>
            <tr>
              <!--<td class="tb-td-txt" width="20">{{ item.IDPedido }}</td>-->
              <td class="tb-td-txt" width="80">{{ item.UtilizadorIDUser }}</td>
              <td class="tb-td-txt" width="250">
                {{ changeIDtoInternalCode(i) }}
              </td>
              <td class="tb-td-txt" width="375">{{ item.Descricao }}</td>
              <td class="tb-td-txt" width="150">
                {{ item.DataPedido | date: "dd/MM/yyyy HH:mm" }}
              </td>
              <td class="tb-td-txt" width="80">
                {{ checkStateOfIntervention(i) }}
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel-header>
      <div class="table-responsive">

        <body style="text-align: center;">
          <table class="table" style="width: 80%;">
            <thead>
              <tr>
                <!-- <th scope="col" width="25">#</th> -->
                <th scope="col" width="80">Utilizador</th>
                <th scope="col" width="250">Descrição</th>
                <th scope="col" width="150">Estado</th>
                <th scope="col" width="170">Inicio da intervenção</th>
                <th scope="col" width="170">Fim da intervenção</th>
                <th scope="col" width="100">Duração</th>
                <td>
                  <button type="button" (click)="openDialog(item.IDPedido)" class="btn btn-success btn-sm move-right"
                    style="
                      position: absolute;
                      right: 0;
                      height: 30px;
                      width: 30px;
                    ">
                    +
                  </button>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr></tr>

              <tr *ngFor="let inter of intervencoes; let j = index">
                <ng-container *ngIf="inter.IDPedido == item.IDPedido">
                 <!--  <th scope="row" width="25">{{ inter.ID }}</th> -->
                  <td class="tb-td-txt" width="80">
                    {{ inter.UtilizadorIDUser }}
                  </td>
                  <td class="tb-td-txt" width="250">{{ inter.Descricao }}</td>
                  <td class="tb-td-txt" width="150">
                    {{ changeIDtoDescription(j) }}
                  </td>
                  <td class="tb-td-txt" width="170">
                    {{ inter.DataInicioIntervencao | date: "dd/MM/yyyy HH:mm" }}
                  </td>
                  <td class="tb-td-txt" width="170">
                    {{ inter.DataFimIntervencao | date: "dd/MM/yyyy HH:mm" }}
                  </td>
                  <td class="tb-td-txt" width="100">
                    {{ getTimeDiff(inter.ID) }}
                  </td>
                  <td>
                    <button type="button" color="accent" (click)="deleteIntervencao(inter.ID)">
                      <mat-icon _ngcontent-oax-c0="" class="mat-icon notranslate material-icons mat-icon-no-color"
                        role="img" aria-hidden="true">delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </body>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator class="col" [length]="totalPedidos" [pageSize]="pedidosPerPage" [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)" *ngIf="pedidos.length > 0"></mat-paginator>
</div>