<div class="container wrapper">
    <div class="row">

        <!-- Utilizadores table -->
        <div class="col-md-12">
            <div class="inner">
                <h3>Utilizadores registados</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Nº de funcionário</th>
                            <th scope="col">Tipo de utilizador</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <tr *ngFor="let utilizador of aspNetUsersList">
                            <td>{{utilizador.Nome}}</td>
                            <td>{{utilizador.UserName}}</td>
                            <td>{{utilizador.NumeroUtilizador}}</td>                         
                            <ng-container *ngFor="let tu of tipoUtilizadorList">
                                <td *ngIf="tu.IDTipo==utilizador.IDTipo">{{tu.TipoDescr}}</td>
                            </ng-container>                   
                            <td>
                               <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/asp-net-user-edit/', utilizador.UserName]">Editar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>