mat-paginator {
    margin-top: 1rem;
  }
  
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent;
  }

 
  
  h5 {
    margin-left: 10px;
    display: inline-block;
  }
  
  button {
    margin-right: 30px;
  }
  
  .disable_ripple:hover {
    background: currentColor !important;
  }
  
  .mat-expansion-panel-header .mat-expanded {
    background-color: none;
  }
  
  td {
    border: 0px solid white;
  }
  .table-responsive > .table {
    padding: 0 32px 0 24px;
  }
  mat-expansion-panel-header .table td {
    text-align: left;
  }
  
  .mat-expansion-panel-header-label.mat-expanded:hover {
    background: rgb(255, 255, 255);
  }
  
  .mat-expansion-panel-header {
    background-color: white;
  }
  
  
  .formatH5{
    margin-left: 40px;
  }

  .column {
    float: left;
    width: 15%;
    padding: 1px;
  }

  .column2{
    float: left;
    width: 6%;
    padding: 1px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  
  .AlignFilter{
    margin-left: 40px;
  }

  .AlignFilter1{
    margin-left:40px;
  }
  
  
  .col{
    height: 50px;
    background-color: cornflowerblue;
  }

