<div class="container wrapper wrapper2">
    <div class="row">

        <!-- Form -->
        <div class="col-md-12">
            <br>
            <h3>Adicionar equipamento</h3>
            <div class="td">Grupo de Máquina</div>
            <form [formGroup]="equipForm" (ngSubmit)="submitForm()" novalidate>   
                <select class="form-group" formControlName="IDGrupoM">
                    <label>Grupo de máquina</label> 
                    <option value="0">Selecione</option>   
                    <option *ngFor="let item of gruposMaquinaList" [value]="item.IDGrupoMaquinas">{{item.Descr}}</option>                  
                </select>
                <div class="form-group">
                    <label>Número série</label>
                    <input type="text" formControlName="NumeroSerie" class="form-control">
                </div>
                <div class="form-group">
                    <label>Descrição</label>
                    <input type="text" formControlName="Descr" class="form-control">
                </div>
                <div class="form-group">
                    <label>Marca</label>
                    <input type="text" formControlName="Marca" class="form-control">
                </div>
                <div class="form-group">
                    <label>Tipo</label>
                    <input type="text" formControlName="Tipo" class="form-control">
                </div>
                <div class="form-group">
                    <label>Data compra</label>
                    <input type="Date" formControlName="DataCompra" class="form-control">
                </div>
                <div class="form-group">
                    <label>CodigoInterno</label>
                    <input type="text" formControlName="CodigoInterno" class="form-control">
                </div>
                <div class="form-group">
                    <label>EstadoEqui</label>
                    <input type="text" formControlName="EstadoEqui" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</div>