<div class="estilo">
  <h4 style="text-align: center">Acatel - Gestão da manutenção</h4>
  <br />
  <p  class="orderedtab" >
    Criado por José Carlos Arantes, no âmbito da licenciatura de Engenharia de
    Sistemas Informáticos,
  </p>
  <p>sob a orientação do Professor Michael Matias.</p>
  

  <ul>
    Versão 1.0 (Novembro de 2020)
    <p class="orderedtab"><li>Implementação no servidor da empresa para testes.</li></p>
  </ul>

  <ul>
    Versão 1.1 (Novembro de 2020)
    <p class="orderedtab">
      <li>Melhoramento da componente relativa aos equipamentos.</li>
    </p>
    <p class="orderedtab">
      <li>
        Melhoramento das forms de todas as componentes, com estilo customizado.
      </li>
    </p>
  </ul>

  <ul>
    Versão 1.2 (Novembro de 2020)
    <p class="orderedtab">
      <li>Validação com ReactiveForms da componente de Login.</li>
    </p>
    <p class="orderedtab">
      <li>
        Uso do módulo MatSnackBar para melhor interação com o utilizador sobre
        validações.
      </li>
    </p>
  </ul>

  <ul>
    Versão 1.3 (Dezembro de 2020)
    <p class="orderedtab">
      <li>
        Adição de um novo campo (equipamento) para pesquisa filtrada nos pedidos
        curativos.
      </li>
    </p>
    <p class="orderedtab">
      <li>
        Adição de um novo campo (equipamento) para pesquisa filtrada nos pedidos
        preventivos.
      </li>
    </p>
  </ul>

  <button mat-button class="close-icon" [mat-dialog-close]="true">
    Fechar
  </button>
</div>
