ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  ul {
    display: flex;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
    color:blue
  }

  .ts {
    background-color: blue !important;
  }
  .col{
    /*background-color: teal;*/
    background-color: slategrey;
  }
  
  .tt{
    padding:1em;
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin:0 auto;
  }

  .formatFontSize{
    font-size:15px;
    margin-right: 50px;
  }

  .col{
    height: 40px;
  }
  


.example-sidenav {
  padding: 20px;
}



  

  