<div class="container wrapper">
  <div class="row">
    <!-- GruposMaquinas table -->
    <div class="col-md-12">
      <div class="inner">
        <br />
        <h3>Grupos de equipamentos</h3>
        <br />
        <table class="table table-bordered">
          <thead>
            <tr>
              <!--<th scope="col" width="40">#</th>-->
              <th scope="col" width="150">Código interno</th>
              <th scope="col">Descrição</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let grupomaquinas of GrupoMaquinaList">
              <!--<th scope="row" width="40">{{grupomaquinas.IDGrupoMaquinas}}</th>-->
              <td width="150" [ngStyle]="{ 'background-color': '#E5E5E5' }">
                {{ grupomaquinas.CodigoInterno }}
              </td>
              <td>{{ grupomaquinas.Descr }}</td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
    </div>
  </div>
</div>
